<div>
  <p><%= link_to 'Personas', controller: 'personas' %></p>
  <p><%= link_to 'Libros', controller: 'libros' %></p>
  <p><%= link_to 'Prestamos', controller: 'prestamos' %></p>
</div>

<h1>Hello Personas</h1>

<table>
  <tr>
    <th colspan="2">Nombre</th>
  </tr>

  <% @personas.each do |persona| %>
    <tr>
      <td><%= persona.nombre %></td>
      <td><%= link_to 'Edit', edit_persona_path(persona) %></td>
      <td><%= link_to 'Delete', persona, method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', personas_path %>
